{% extends "base.html" %}

{% block content %}
<h1 align="center"> Истории железок, расказанные их счастливыми владедьцами</h1>

{% for cat in category %}

<div align="center" id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <h5 align="center">{{ cat[0] }}</h5>
    <ol class="carousel-indicators">
        {% for n in range(cat[3]) %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ n }}"
            {% if n==0 %}class="active" {% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        <!--
                <div class="carousel-item active">
                    <img src="/static/img/1.jpg" alt="First slide">
                </div>
        -->
        {% for item in cat[2] %}
        <div {% if item=='1.jpg' %}class="carousel-item active" {% else %}class="carousel-item" {% endif %}
             data-interval=5000">
            <img src="/static/img/{{ cat[1] }}/{{ item }}" alt="slide">
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% if current_user.is_authenticated %}
<div>
    <form class="login_form" method="post" enctype="multipart/form-data" action="{{ url_for('index',formid=cat[1]) }}">
        <div class="form-group">
            <input type="hidden" value="{{ cat[1] }}" name="hid">
            <label for="photo">Добавить картинку</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>

    </form>
</div>
{% endif %}

{% endfor %}

{% endblock %}